<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonIO" version="1.0.0.9" targetFramework="net45" />
  <package id="Interfaces.IO" version="1.0.0.5" targetFramework="net45" />
  <package id="MediaBrowser.Common" version="3.0.656" targetFramework="net45" />
  <package id="MediaBrowser.Server.Core" version="3.0.656" targetFramework="net45" />
  <package id="Patterns.Logging" version="1.0.0.2" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.35" targetFramework="net45" />
</packages>